* {
  border: none;
}
.about {

  padding: 0;
  outline: none;
  color: $color2;


  &:after {
    content: "";
    height: 400px;
    width: 600px;
    background: $color1;
    border: 2px solid $color3;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 840px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
    }
    @media screen and (max-width: 430px) {
      display: none;
    }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .avatar {
    border-radius: 30px;
    width: 300px;
    height: 600px;

    @media screen and (max-width: 630px){
      height: 300px;
      margin-bottom: 20px;
    }
  }

  .big-box ,.small-box{
    max-width: 850px;
    font-family: 'Poppins', sans-serif;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.637);

    @media screen and (max-width: 630px){
      margin-bottom: 20px;
    }
  }

  h5, h3{
    color: $color3;
    border-bottom: 1px solid $color3;
  }
  li{
    text-decoration: none;
    list-style: none;
  }

  svg{
    color: $color2;
    margin-right: 10px;
    width: 20px;
  }
  li{
    font-size: 1.2rem;
  }
  p{
    font-size: 1rem;
  }

}