.home{

  &:after {
    content: "";
    height: 300px;
    width: 300px;
    background: $color1;
    border: 1px solid $color3;
    opacity: 60%;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 840px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
      overflow: unset;
    }
    @media screen and (max-width: 430px) {
      display: none;
      overflow-x: hidden;
    }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .text-home {
    margin-top: 150px;

  }

  img{
    width: 600px;
    margin-top: 100px;
    margin-left: 100px;
    height: auto;
    object-fit: contain;

  }

  h1 {
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 82px;
    color: $color2;
  }

  h1 span {
    font-size: 4.2rem;
  }

  h2 {
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 82px;
    color: $color3;

  }
  .wd {
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 82px;
    color: $color4;
  }

  .btn {
    border-radius: 52px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, #0e4478, #0e3560, #0c2748, #081a32, #010a1e);  //background-color: $color1;
    border: 1px solid #fff;
  }

  a:hover {
    border-radius: 32px;
    font-family: 'Roboto', sans-serif;
    background-color: #18dcff  ;
    border: 1px solid #fff;
    color: #081a32;
  }

  @media screen and (max-width: 630px) {

    h1, h2, .wd {
      margin-bottom: 10px;
    }
    img{
      max-width: 300px;
     // display: none;
    }
    h1 {
       font-size: 3.1rem;
    }

  }




}


